

#wrapper{
    display: grid;
    width: 100%;
    height: 200vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-areas: 
    "hd hd"
    "sec1 sec2"
    "se1 se2"
    "ft ft";
}

body{
    border-radius: 20px;
    background-color: #fc0505;
}

header{ 
    grid-area: hd;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    background-color: #d10202;
}


section.sec1{
    grid-area: sec1;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

section.sec2{
    grid-area: sec2;
    background-image: url(../img/bild1.start.jpg);
}

section.se1{
    grid-area: se1;
}

section.se2{
    grid-area: se2;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d10202;
}

@media screen and (max-width: 400px){
    #wrapper{
        display: grid;
        grid-template-areas: 
        "hd"
        "sec1"
        "sec2"
        "se1"
        "se2"
        "ft";
    }
}


