

#wrapper1{
    display: grid;
    width: 100%;
    height: 200vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-areas: 
    "hd hd"
    "secc1 secc2"
    "sec1 sec2"
    "ft2 ft2";
}

body{
    background-color: #fc0505;
}

button{
    background-color: unset;
    border: none;
    
}

.menu{
    height: 100vh;
    width: 30vw;
    background: black;
    position: fixed;
    display: none;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    font-size: 40px;
    padding-left: 40px;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 3rem;
}

.show{
    left: 0;
    display: grid;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

header{ 
    grid-area: hd;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    background-color: #d10202;
    border-radius:5px;
    padding-left: 30px;
    font-size: 50px;
    padding-right: 15px;
    text-align: center;
    font-weight: bold;
}


header.img{
    justify-content: center;
    padding-bottom: 10px;
}

section.secc1{
    grid-area: secc1;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 20px;
    padding-left: 20px;
}

div.secc2{
    grid-area: secc2;
    background-image: url(../img/bild1.start.jpg);
    border-radius: 5px;
}

div.sec1{
    grid-area: sec1;
    background-image: url(../img/pasta.webp);
    border-radius: 5px;
}

section.sec2{
    grid-area: sec2;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d10202;
    border-radius: 5px;
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    
}

footer.ft2{
    grid-area: ft2;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #940d0d;
    padding-left: 20px;
    padding-right: 20px ;
}

footer.ft2 p {
    border: 2px solid black;
    padding: 10px;
    background-color: #d10202;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}





#wrapper2{
    display: grid;
    width: 100%;
    height: 200vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 40% 10%;
    grid-template-areas: 
    "hd hd"
    "se1 se2"
    "s1 s2"
    "ft2 ft2";
}



div.se1{
    grid-area: se1;
    border-radius: 5px;
    background-image: url(../img/om.jpeg);

}

section.se2{
    grid-area: se2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    padding-left: 20px;
}

section.s1{
    grid-area: s1;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d10202;
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

div.s2{
    grid-area: s2;
    background-image: url(../img/om.jpg);
}


#wrapper3{
    display: grid;
    width: 100%;
    height: 200vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 1fr 1fr 1fr 1fr 1fr 1fr 10%;
    grid-template-areas: 
    "hd hd"
    "secti1 secti2"
    "sect1 sect2"
    "sect3 sect4"
    "sect5 sect6"
    "sect7 sect8"
    "sect9 sect10"
    "sect11 sect12"
    "ft1 ft1";
}


div.secti1{
    grid-area: secti1;
    background-color: #940d0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 40px;
}

div.secti2{
    grid-area: secti2;
    background-color: #940d0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 40px;
}

div.secti1 p{
    border: 2px solid black;
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}


div.secti2 p{
    border: 2px solid black;
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}

section.sect1{
    grid-area: sect1;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
}
.pris{
    display: flex; 
    flex-direction: column; 
}
.produkt {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    gap: 10rem;
}

section.sect2{
    grid-area: sect2;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
}

section.sect3{
    grid-area: sect3;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #d10202;
}

section.sect4{
    grid-area: sect4;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #d10202;
}

section.sect5{
    grid-area: sect5;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
}

section.sect6{
    grid-area: sect6;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
}

section.sect7{
    grid-area: sect7;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #d10202;
}

section.sect8{
    grid-area: sect8;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #d10202;
}

section.sect9{
    grid-area: sect9;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
}

section.sect10{
    grid-area: sect10;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
}

section.sect11{
    grid-area: sect11;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #d10202;
}

section.sect12{
    grid-area: sect12;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #d10202;
}


footer{
    grid-area: ft1;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fc0505;
    padding-left: 20px;
    padding-right: 20px ;
}

footer.ft1 p {
    border: 2px solid black;
    padding: 10px;
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}

#wrapper4{
    display: grid;
    width: 100%;
    height: 200vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 10% 1fr 1fr 1fr 1fr 1fr 1fr 10%;
    grid-template-areas: 
    "hd hd"
    "sectii1 sectii2"
    "section1 section2"
    "section3 section4"
    "section5 section6"
    "section7 section8"
    "section9 section10"
    "section11 section12"
    "ft1 ft1";
}



div.sectii1{
    grid-area: sectii1;
    background-color: #940d0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 40px;
}




div.sectii2{
    grid-area: sectii2;
    background-color: #940d0d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 40px;
}

div.sectii1 p{
    border: 2px solid black;
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}


div.sectii2 p{
    border: 2px solid black;
    background-color: red;
    text-decoration: none;
    border-radius: 5px;
    color: black;
}


section.section1{
    grid-area: section1;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
}

section.section2{
    grid-area: section2;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
}

section.section3{
    grid-area: section3;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
    background-color: #d10202;
}

section.section4{
    grid-area: section4;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #d10202;
}

section.section5{
    grid-area: section5;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
}

section.section6{
    grid-area: section6;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
}

section.section7{
    grid-area: section7;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
    background-color: #d10202;
}

section.section8{
    grid-area: section8;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
    background-color: #d10202;
}

section.section9{
    grid-area: section9;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
}

section.section10{
    grid-area: section10;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
}

section.section11{
    grid-area: section11;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
    background-color: #d10202;
}

section.section12{
    grid-area: section12;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 20px;
    background-color: #d10202;
}

@media screen and (max-width: 500px){
    #wrapper1{
        display:grid;
        height: min-content;
        grid-template-columns: 100%;
        grid-template-rows: 150px 1fr 1fr 450px 1fr 150px;
        grid-template-areas: 
        "hd"
        "secc1"
        "secc2"
        "sec2"
        "sec1"
        "ft2";
    }

    section.secc1 {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    section.sec2{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header img {
        display: none;
    }
}


@media screen and (max-width: 500px){
    #wrapper2{
        display: grid;
        height: min-content;
        grid-template-columns: 100%;
        grid-template-rows: 150px 1fr 1fr 1fr 1fr 150px;
        grid-template-areas: 
        "hd"
        "se1"
        "se2"
        "s2"
        "s1"
        "ft2";
    }

    section.se2 {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    section.s1{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    header img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #wrapper3{
        display: grid;
        grid-template-columns: 100%;
        height: min-content;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "hd"
        "secti1"
        "sect1"
        "sect4"
        "sect2"
        "sect3"
        "sect5"
        "sect7"
        "sect6"
        "sect8"
        "sect9"
        "sect11"
        "sect10"
        "sect12"
        "ft1";
    }
    header img {
        display: none;
    }
    div.secti2 {
        display: none;
    }
}

@media screen and (max-width: 500px){
    #wrapper4{
        display: grid;
        grid-template-columns: 100%;
        height: min-content;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "hd"
        "sectii1"
        "section1"
        "section4"
        "section2"
        "section3"
        "section5"
        "section7"
        "section6"
        "section8"
        "section9"
        "section11"
        "section10"
        "section12"
        "ft1";
    }
    header img {
        display: none;
    }
    div.sectii2 {
        display: none;
    }
}
  



